@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');
* {
    box-sizing: border-box
}

body {
    background-color: rgb(3, 20, 31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;   
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: #20649c;
    width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(3,20,31);
    display: flex;
    font-size: 2rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
}

.pw button {
    background-color: rgb(3,20,31);
    color: white;
    border: none;
    padding: 0 .25rem 0.5rem;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%, 50%);
}

.pw-body {
    padding: 1rem;
}