@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');
* {
    box-sizing: border-box
}

body {
    background-color: rgb(3, 20, 31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;   
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: #5f1b32;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.5);
    min-width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(3,20,31);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
}

.pw button {
    background-color: rgb(16, 142, 201);
    color: white;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0.25rem 0.5rem;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: 0;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin:0.5rem 0;
}

.generate {
    background-color: rgb(16, 142, 201);
    border: none;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.75rem;
    font-family: inherit;
    margin-top: 1rem;
    width: 100%;
}